<% include layouts/header.ejs %>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae amet, praesentium totam voluptates iusto harum ut voluptatem perferendis autem, eaque eveniet. Dolorem officia, quas at et eos fuga esse. Voluptatibus.</p>
</div>
</body>

</html>